/* Start of page heading */
.message_content {
    display: flex;
}

.message_body {
    width: 100%;
    padding: 0 20px;
}

.Message_heading3{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.message_contain {
    margin: auto;
    width: 55%;
    text-align: center;
    justify-content: center;
}

.heading-icon{
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.bottom-btn1{ 
    color: #000 !important;
    border: 2px solid #808080 !important;
    background-color: #fff !important;
    font-size: x-large !important;
    font-weight: 300 !important;
    margin: auto;
}

/* End of page heading */


/* End of content */

    @media only screen and (max-width: 480px) {
        .navbar{
            display: none;
        }
        p{
            font-weight: 500;
            max-width: inherit
        }
        h5{
            font-size: 20px;
            font-weight: 800;
        }
        .contain {
            width: auto;
        }
        .contain p{
            font-size: 18px;
        }
        .bottom-btn1{
            margin: 0;
            width: auto;
            align-items: center;
            text-align: center;
    


        }
    }
