.payment{
    display: flex;
    gap: 20px;
}

.payment-body{
    width: 75%;
}

.payment-body p{
    font-size: 15px;
    padding-left: 15px;
}

.payment-body h1{
    padding-left: 15px;
    font-weight: 500;
    font-size: 30px;
}

.payment-body h2{
    padding-left: 15px;
    font-weight: 500;
    font-size: 25px;
    margin: 0;
}

.payment-body h5{
    font-weight: 500;
}

.payment-method{
    display: flex;
}

.edit{
    margin-left: auto;
    background-color: #ffffff !important;
    color: #1BAEDF !important;
    border: solid 2px #1BAEDF !important;
}

.payment-method{
    border: #1BAEDF;
    border-radius: 5px;
}
.payment-method a{
    text-decoration: none;
    border: 1px solid #1BAEDF;
    border-radius: 5px;
    padding: 1px 3px;
    font-size: 18px;
    color: #1BAEDF;
}
.sub-container{
    width: 60%;
    display: flex;
    gap: 15px;
    align-items: center;
    border: 1px solid #00000080;
    margin-bottom: 10px;
    padding: 20px;
    justify-content: start;

}
.sub-container-item{
    flex-direction: column;
}
.sub-container-item1{
    flex-direction: column;
}

.btn{
    border: 1px solid#1BAEDF !important;
    border-radius: 5px;
    padding: 0px 3px;
    margin-left: auto;
    background-color: #ffffff !important;
    color: #1BAEDF !important;
}
.btn1{
    border: 1px solid#1BAEDF;
    border-radius: 5px;
    padding: 0px 3px;
    margin-left: auto;
    background-color: #1BAEDF; 
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.57);
}
.btn a{
    text-decoration: none;
    color: #1BAEDF;
}
.btn1 a{
    text-decoration: none;
    color: #ffffff;
}
.payment-history{
    margin-top: 10px;
    border: 1px solid #00000080;
}
.payment-story{
    height: 300px;
    padding-top: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    border: 1px solid #00000080;
}

.payment-story p{
    padding: 0px 15px;
}
.history{
    border:  1px solid #00000080;;
    display: flex;
    /* padding: 0px 10px; */
    justify-content: space-between;
    border: 1px solid #00000080;
}
.history-item{
    margin: auto;
    text-align: center;
}

@media only screen and (max-width: 650px) {
    .payment-body{
        margin: 0;
        padding: 10px;
    }
    .sub-container{
        width: 60%;
    }
    .btn{
        padding: 0px 3px;
        margin-left: auto;
    }
    .btn1{
        padding: 0px 3px;
        margin-left: auto;
    }
}

@media only screen and (max-width: 450px) {
    .payment-body{
        margin: 0;
        padding: 10px;
    }
    .sub-container{
        width: 60%;
    }
    .btn{
        padding: 0px 3px;
        margin-left: auto;
    }
    .btn1{
        padding: 0px 3px;
        margin-left: auto;
    }
}