.Settings_content{
    width: 38%;
    margin: auto;
    /* gap: 30px; */
    /* margin-left: 3%; */
}

.PhotoPlaceHolder {
    position: relative;
    margin: auto;
    justify-content: center;
    width: fit-content;
}

.PhotoPlaceHolderIcon {
    margin-top: 20px;
    margin: auto;
}

.cloud_icon {
    background-color: #fff;
    width: 32px;
    height: 30px;
    padding-top: 10px;
    padding-left: 9px;
    border-radius: 100%;
    box-shadow: 5px 5px 4px -3px #000;
    position: absolute;
    margin-right: -20px;
    margin-top: -225px;
    right: 0;

}

.setting_inputField {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.setting_inputField input {
    height: 50px;
    border-radius: 20px;
    border: 2px solid #808080;
    padding: 0 10px;
    width: 100%;
}

.setting_inputField textarea {
    height: 200px;
    border-radius: 10px;
    border: 2px solid #808080;
    width: 100%;
    resize: none;
}





@media only screen and (max-width: 650px) {
    .header-right{
        display: none;
    }
    .navbar{
        display: none;
    }
    .navicon{
        display: block;
        margin-left: auto;
        gap: 5px;
        display: flex;
    }
    .navicon img{
        width: 30px;
        height: 30px;
        border: 1px solid #1BAEDF;
        border-radius: 5px;
        padding: 4px;
    }
    .sub-content{
        justify-content: center;
    }

    .input-pos,
    .input-post,
    .input-post1 {
        width: 90%;
    }
    .sub-content img{
        align-content: center;
    }

}