.Body_container {
    display: flex;
}

.container{
    margin: auto;
    width: 625px;
}

.support {
    display: flex;
    gap: 8%;
}

.supporters_item {
    background-color: #D9D9D999;
    width: 46%;
    padding-left: 15px;
}

.supporters_numbers {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contentss {
    margin-top: 20px;
    border: 2px solid #808080;
    border-radius: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.donation_button {
    background-color: #808080 !important;
    color: black !important;
    font-weight: 300 !important;
    font-size: large !important;
}


@media only screen and (max-width: 750px) {
    .body{
        max-width: 625px;
        margin-left: 50px;
        margin-right: 100px;
        align-items: center;
    }
}