.body{
    /* margin-right: 3%; */
    margin: 0;
    width: 625px;
    align-items: center;
    justify-content: center;
    margin-left: 30%;
}
.body h5{
    text-align: left;
}
.features{
    display: flex;
    gap: 20px;
    width: 70%;
    /* align-items: center; */
    /* gap: 40px; */
    /* padding-left: 10px;
    padding-top: 10px;
    width: 70%;
    /* background-color: #D9D9D9; */
}
.features-item{
    background-color: #D9D9D9;
    width: 300px;
    gap: 20px;
    padding-left: 10px;
}
.sub-features{
    display: flex;
    gap: 5px;
    align-items: center;
}
.sub-features img{
    width: 20px;
    height: 20px;
}
.sub-features p{
    font-weight: 500;
}
.features-icon{
    display: flex;
    gap: 5px;
    align-items: center;
}
.features-icon img{
    width: 20px;
    height: 20px;
}
.content2{
    width: 70%;
    margin-top: 20px;
    border: 2px solid #808080;
    border-radius: 10px;
    padding-left: 10px;
}
.content-item2{
    width: 120px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: #D9D9D999;
    border-radius: 10px;
}
.content-item2 img{
    padding-left: 5px;
    width: 20px;
    height: 20px;
}
.content-item2 a{
    text-decoration: none;
    color: black;
    font-weight: 600;
}

@media only screen and (max-width: 750px) {
    .body{
        max-width: 625px;
        margin-left: 50px;
        margin-right: 100px;
        align-items: center;
    }
}