/* *{
    margin: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */
/* Start of navigation */
.nav-icon img{
    width: 100px;
}
.menu-bar{
    display: none;
}
.nav-icon{
    display: flex;
    padding: 10px 20px 0px 20px;
    align-items: center;
    text-align: center;
}
.nav-icon-right{
    margin-left: auto;
    align-content: center;
    text-align: start;
    gap: 50px;
    display: flex;
    font-size: 10px;
}
.nav-icon a{
    text-decoration: none;
    color: #000000;
    font-weight: 400;
    justify-content: center;
}
.nav-icon a:hover{
    text-decoration: underline;
    color: #1BAEDF;
}
.btn{
    border-radius: 5px;
    padding: 10px 8px 0px 8px;
    color: rgb(253, 253, 253);
    background: #1BAEDF
}
.btn a{
    color: white;
}
.btn:hover{
    color: red;
}
/* End of navigation */

/* Start of landing */
.landing{
    width: 100%;
    justify-items: center;
    margin-right: 10px;
}
/* For media query of landing*/
.landing-mobile{
    display: none;
}
.landing img{
    width: 100%;
    margin-left: 20px;
    margin-right: 30px;
}
.landing-button{
    text-align: center;
}
.landing-button h2{
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}
.landing-button a{
    text-decoration: none;
}
.landing{
    text-align: center;
 }
 .landing-text{
     font-size: 20px;
 }
 /* End of landing */

 /* Start of features */
.search{
   display: flex;
   border-radius: 3px;
   border: solid rgb(203, 219, 236);
   box-shadow: rgb(203, 219, 236);
   gap: 5px;
   width: 30%;
   height: 40px;
   margin: 0 auto;
   align-items: center;
}
.search input{
    width: 100%;
    height: 25px;
    border: none;
    outline: none;
    margin-left: 10px;
}
.search p{
   text-align: center;
   color: white;
   width: 100px;
   height: 25px;
   background-color: #1BAEDF;
   border-radius: 5px;
   padding: 3px;
   margin-right: 10px;
   position: relative; 
}
.content{
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;
    justify-content: center;
    width: 100%;
    padding-left: 20px;
    margin: 0 auto;
}
.content a{
    text-decoration: none;
    color: #1BAEDF;
    font-weight: 700;
    font-size: 15px;
}
.content img{
    width: 15px;
    padding-left: 20px;
}
.content-item{
    width: 18%;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #1BAEDF;
}
.content-item1{
    display: none;
}
.content-item1{
    width: 18%;
    border-radius: 5px;
    padding: 20px;
    border: 1px solid #1BAEDF;
}
/* End of features */

/* Start of features section 1 and 2 */
.content-text{
    display: flex;
    margin-left: 20px;
    padding-bottom: 20px;
}
.content-text a{
    text-decoration: none;
    color: #1BAEDF;
    font-weight: 600;
}
.content-text-right{
    margin-left: auto;
    padding-right: 20px;
}
.feature{
    display: flex;
    gap: 20px;
    padding-left: 20px;
    align-content: center;
    padding-bottom: 20px;
}
#feature img{
    max-width: 100%;
    border-radius: 20px;
}
.feature1{ 
    display: none; /*features section1 media query*/
}
#feature{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-left: 20px;
    margin-right: 20px;
    align-items: center;
    padding-bottom: 20px;
    border-radius: 20px;
}
.feature-item p{
    text-decoration: none;
    color: rgb(0, 4, 8);
    font-weight: 400;
    font-size: 15px;
    padding-bottom: 5px;
}
.feature-item h5{
    text-decoration: none;
    color: rgb(177, 178, 180);
    padding-bottom: 5px;
    padding-top: 5px;
}
.feature-item-left{
    display: flex;
}
.feature-link a{
    width: 45px;
    color: #1BAEDF;
    border: 1px solid #1BAEDF;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
    text-decoration: none;
}
.feature-link {
    margin-left: auto;
}
/*End of features 1 and 2*/

 /* Start of footer */
#footer-menu{
    width: 100%;
    height: 500px;
    background-color: #1BAEDF;
}
.footer-menu{
    padding-left: 20px;
    padding-top: 20px;
    display: flex;;
    justify-content: space-around;
}
.footer-menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 300;
    font-size: 13px;
    line-height: 60px;
}
.footer-menu h4{
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
}
.footer-menu-item1{
    display: flex;
    padding-top: 20px;
    gap: 08px;
    align-items: baseline;
}
.footer-menu-item1 img{
    width: 25px;
    height: 20px;
}
.footer-menu-item1 p{
    color: #FFFFFF;
}
hr{
    margin: 20px 20px 0px 20px;
}
.bottom-footer{
    display: flex;
    gap: 10px;
    justify-content: center;
    padding-top: 20px;
    align-items: center;
}
.bottom-footer p{
    color: #FFFFFF;
}
.bottom-footer img{
    width: 30px;
    height: 20px;
}
.features img{
    border-radius: 15px;
}
.features-item img{
    border-radius: 15px;
}
 /* End of footer */

 
/* FOR MEDIA QUERY */
@media screen and (max-width: 700px) {
    
    .menu-bar {
        display: block;
        margin-left: auto;
    }
    .nav-icon-right {
        display: none;
    }
    .landing-mobile{
        display: block;
        max-width: 100%;
        padding-top: 20px;
    }
    .landing img {
        display: none;
    }
    .landing-button .search{
        width: 90%;
        margin-bottom: 3rem;
    }
    .feature1 {
        display: block;
    }
    .feature {
        display: none;
    }
    .feature-item {
        display: none;
    }
    #footer-menu {
        height: 1500px;
        width: 100%;
        background-color: #075C8D;
    }
    .footer-menu {
        display: inline;
        justify-content: center;
        text-align: center;
    }
    .footer-menu-item1{
        justify-content: center;
        padding-bottom: 10px;
    }
    hr{
        margin: 0;
    }
    .content-item {
       display: none;
    }
    .content-item1{
        display: block;
        width: 100%;
        margin-right: 10px;
    }
    .content-item2{
        display: none;
    }
    .content-text{
        align-items: center
    }
    .content-item1 {
        width: 100%;
    }
    .content-item1 img{
        width: 15px;
        margin-left: auto;
    }
    .features{
        flex-direction: column;
        width: 100%;
    }
    #features{
        flex-direction: column;
    }
}
