/* Start of page heading */
.gallery_body {
    display: flex;
}

.gallery_content {
    padding: 0 20px;
}

.heading{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search_rightside {
    display: flex;
    gap: 10px;
    align-items: center;
}
.heading-item{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    background-color: #1BAEDF;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 0px;
}
.heading-item img{
    width: 20px;
    height: 20px;
    align-items: center;
}
.heading-item a{
    color: white;
    text-decoration: none;
}
.heading-item p{
    font-size: 10px;
}

.heading-item3 img{
    width: 20px;
    height: 20px;
    align-items: center;
}
.heading-icon{
    margin-left: auto;
}
.heading-mobile{
    display: none;
}
/* End of page heading */

/* Start of content  */
.gallery_contain{
    text-align: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
/* End of content */


    @media only screen and (max-width: 480px) {
        .navbar{
            display: none;
        }
        p{
            font-weight: 500;
            max-width: inherit
        }
        h5{
            font-size: 20px;
            font-weight: 800;
        }
        .contain {
            width: auto;
        }
        .contain p{
            font-size: 18px;
        }
        .heading-mobile {
            display: block;
            display: flex;
            align-items: center;
        }
        .heading-item2 {
            display: none;
        }
    }