/* h5{
    font-weight: 700;
} */

/* Start of page heading */
.page_content {
    display: block;
    background-color: yellow;
}
.heading{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.heading h5{
    font-weight: 700;
}

.heading-item3{
    display: flex;
    justify-content: space-between;
    /* gap: 20px; */
    align-items: center;
}

/* .heading-item3 img{
    width: 20px;
    height: 20px;
    align-items: center;
} */
.heading-icon{
    margin-left: auto;
    display: flex;
    gap: 30px;
}
.bottom-btn1{ 
    width: 200px;
    justify-content: center;
    margin-left: 250px;
    align-content: center;
    display: flex;
    gap: 20px;
    align-items: center;
    text-align: center;
    border: 2px solid #808080;
    border-radius: 10px;
    padding-left:  10px;
    padding-right: 10px;
    box-sizing: content-box;
}
.bottom-btn1 img{
    width: 30px;
    height: 30px;
}
/* End of page heading */

/* Start of content  */
.contain{
    /* left:0;
    right:0; */
  
    /* margin-left: auto; */
    margin: auto;
    background-color: red;
  
    position: absolute;
    width: 50%;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
    text-align: center;

}
.contain img{
    margin: 0;
    width: 30px;
}
.contain p{
    text-align: center;
    font-size: 22px;
}
/* End of content */


    @media only screen and (max-width: 480px) {
        .navbar{
            display: none;
        }
        p{
            font-weight: 500;
            max-width: inherit
        }
        h5{
            font-size: 20px;
            font-weight: 800;
        }
        .contain {
            width: auto;
        }
        .contain p{
            font-size: 18px;
        }
        .bottom-btn1{
            margin: 0;
            width: auto;
            align-items: center;
            text-align: center;
    


        }
    }
