.add-a-cover-iamge1{
    background-color: rgb(192, 233, 249);
    padding: 6rem;
    margin-top: 2rem;
}
.add-a-cover-iamge2{
    display: flex;
    width: 200px;
    height: 45px;
    margin: auto;
    color: white;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 179, 226);
}

.add-a-cover-iamge2 p{
    align-items: center;
    font-size: 1rem;
}

.member-icon{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem; 
}

.member-img {
   position: relative ; 
}

 .member-img img{
   margin-left: 4rem;
    margin-top: -37px;
   width: 125px;
   height: 125px;
   border-radius: 100%;
   border: solid 1px rgb(61, 179, 226);
}

.camera-icon {
    position: absolute;
    right: 0;
    bottom: 50%;
    padding: 5px;
}

.member-img h4{
   text-align: center;
   color: rgb(25, 170, 227);
   font-size: 20px;
   margin-left: 3rem;
}
.followed-btn{
    background-color: rgb(25, 170, 227);
    border: none;
    box-shadow: 2px 2px 6px 0px #3c3b3b;
    margin-top: 3rem;
    color: white;
    border-radius: 10px;
    padding: 11px;
}

.Gift-member-Kudicash{
    display: flex;
    justify-content: space-between;
    margin: 0 5rem; 
}

.bio{
    color: rgb(25, 170, 227);
    border: 2px solid rgb(143, 206, 231);
    width: 300px;
    border-radius: 10px;
    height: 100px;
    margin-left: 3rem;
}
.bio p{
    margin-left: 10px;
}

.head-line{
    color: rgb(25, 170, 227);
    margin-right: 4rem;
    font-size: 20px;
}
.headline-box{
    display: flex;
    gap: 13px;
    margin-left: -5px;
    background-color: rgb(216, 250, 255);

    padding: 2.2rem;
    border-radius: 10px;
}

.circle1{
   background-color: rgb(25, 170, 227); 
   border-radius: 50px;
   width: 25px;
   text-align: center;
   padding: 5px;
   color: white;
}
.xee{
   color: rgb(10, 125, 170);
   font-weight: bold;
   font-size: 20px;
   margin-left: -15px;
}

.circle2{
    background-color: rgb(25, 170, 227); 
    border-radius: 50px;
    width: 20px;
    text-align: center;
    padding: 5px;
    color: rgb(218, 212, 212);
 }

 .circle3{
    color: rgb(25, 170, 227); 
    border: 1px solid;
    border-radius: 50px;
    width: 20px;
    text-align: center;
    padding: 5px;
 }
 .circle4{
    color: rgb(25, 170, 227); 
    border: 1px solid;
    border-radius: 50px;
    width: 20px;
    text-align: center;
    padding: 5px;

 }
 .circle5{
    color: rgb(25, 170, 227); 
    border: 1px solid;
    border-radius: 50px;
    width: 20px;
    text-align: center;
    padding: 5px;

 }
 .Leave-a-message textarea {
    color: rgb(25, 170, 227); 
    margin-top: 20px;
    height: 150px;
    width: 300px;
    border: 2px solid rgb(25, 170, 227);
    border-radius: 10px;
    outline: none;
    resize: none;
 }
 .Leave-a-message textarea::placeholder{
    color: rgb(25, 170, 227); 
 }

 .tip_kudicash_btn {
    margin-top: .5rem;
    width: 100%;
    background-color: rgb(25, 170, 227);
 }

