.form_heading {
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.form_heading a {
    color: #EC7878;
    margin-left: 10px;
}

.form_section {
    margin: auto;
    width: 398px;
}

.form_section p{
    font-weight: bold;
    text-align: center;
    font-size: 13px;
}

.google_create {
    text-align: center;
    font-weight: 600;
}

@media screen and (max-width: 576px) {
    .form_section {
        width: 100%;
    }

    .form_section img {
        width: 100%;
    }
}