.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px 0;
}

.nav_section {
  display: flex;
  gap: 30px;
}

.nav_section a {
  color: #000;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: none;
}

.mobile {
  display: none;
}

@media screen and (max-width: 576px) {
  .nav_section {
    display: none;
  }

  .menu {
    display: block;
    font-size: 25px;
  }

  .mobile {
    display: block;
    /* position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
  }

  .mobile_nav {
    display: block;
    border-radius: 10px;
    border: 1px solid #EC7878;
    /* position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%; */
  }

  .mobile_nav a{
    display: block;
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 16px;
    border-radius: 10px;
  }

  .mobile_nav a:hover{
    background-color: #EC7878;
  }

  .mobile_toggle {
    display: none;
  }

}