
{%extends 'base.html'%}
{%load static %}
{%block content%}
	<section class="feature">
		<div class="feature-content">
			<h1>Buy Me Groceries</h1>
			<h3>Support the creators you love with a tip. It's just a few clicks away.</h3>
                <p>Accept donations. Start a membership. It’s easier than you think.</p>	
			<a class="btn btn-primary cta" href="{% url 'register' %}">Get Started</a>
		</div>
		<img src="{%static 'images/feature.jpg'%}" alt="" class="feature-image">
	</section>
{%endblock content%}