.mypage_header{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px ;
    /* align-items: center; */
}

.mypage-right-header{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    height: 40px;
}

.arrow_up_icon{
    display: flex;
    align-items: center;
    gap: 5px;
    border: 2px solid skyblue;
    padding: 20px 7px;
    margin-top: 10px;
    border-radius: 10px;
    
}

.plus_logo{
    display: flex;
    gap: 5%;
    align-items: center;
    background-color: rgb(61, 179, 226);
    color: white;
    text-align: center;
    padding: 20px 7px;
    margin-top: 10px;
    border-radius: 10px;
    border: 2px solid rgb(61, 179, 226);

}
.edit-page{
    display: flex;
    align-items: center;
    text-align: center;
    border: 2px solid skyblue;
    padding: 20px 7px;
    margin-top: 10px;
    border-radius: 10px;
}

.member_image{
    display: flex;
    align-items: center;
    justify-content: center;  

    gap: 10px;
    border: 2px solid skyblue;
    padding: 20px 7px;
    margin-top: 10px;
    border-radius: 10px;
    line-height: 0;
} 
.member_image img{ 
    width: 35px; 
    height: 35px;
    border-radius: 100%;
}